body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
i {
  cursor: pointer;
}

.card-body{
background: url('pr.jpg') no-repeat center;
background-size: 100%;
background-position: center;
color: rgb(51, 79, 238);
opacity: 0.8;
}
.card{
  box-shadow: 10px 10px 5px gray;
}


.col-auto button{ 
  width: 30%;
  position: absolute;
  left: 475px;
 justify-items: center; 
  border-radius: 20px;

}
